body{
    margin-top: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Tahoma, Geneva, sans-serif;
    background-image: url(2.jpeg);
    background-repeat: no-repeat;
    
}